<p>
    <strong>Basic Informatio</strong>
</p>
<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
    <tbody>
        <tr>
            <td><strong>Event Name</strong></td>
            <td><%= link_to @event.name, event_url(@event), target: '_black' %></td>
        </tr>
        <tr>
            <td><strong>Organizer</strong></td>
            <td><%= @event.organizer %></td>
        </tr>
        <tr>
            <td><strong>Event Owner</strong></td>
            <td><%= @event.owner.display_name %></td>
        </tr>
        <tr>
            <td><strong>Start Date</strong></td>
            <td><%= @event.started_at.to_s(:db) %></td>
        </tr>
        <tr>
            <td><strong>End Date</strong></td>
            <td><%= @event.ended_at.to_s(:db) %></td>
        </tr>
        <tr>
            <td><strong>Enrollment Start Date</strong></td>
            <td><%= @event.enrollment_started_at.to_s(:db) rescue nil %></td>
        </tr>
        <tr>
            <td><strong>Enrollment End Date</strong></td>
            <td><%= @event.enrollment_ended_at.to_s(:db) %></td>
        </tr>
        <tr>
            <td><strong>Status</strong></td>
            <td><%= @event.status.capitalize %></td>
        </tr>
        <tr>
            <td><strong>Departments</strong></td>
            <td><%= @event.departments.pluck(:name).join(", ") %></td>
        </tr>
        <tr>
            <td><strong>Contacts</strong></td>
            <td><%= @event.contacts %></td>
        </tr>
        <tr>
            <td><strong>Location</strong></td>
            <td><%= @event.location %></td>
        </tr>
    </tbody>
</table>
<p>
    <%= raw(@event.description.gsub(/<img.*ckeditor_assets\/pictures\/(\d+)\/[A-Za-z]+.*\/>/) do |asset|
      ck_asset = Ckeditor::Picture.find($1)
      image_tag(attachments["#{ck_asset.id}_#{ck_asset.filename}"].url, size: "#{ck_asset.width}x#{ck_asset.height}")
    end) %>
</p>
<% if @user.try(:can_enroll?, @event) %>
Please click <%= link_to 'here', enroll_by_email_events_url(token: @user.enroll_token(@event)), target: '_blank' %>  to enroll.
<% end %>
