<div div class='container-fluid'>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
              <div class="row">
                <div class="col-xs-9 col-sm-11 col-md-11 col-lg-11">
                  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-info' %>
                  <%= link_to 'Back', events_path, class: "btn btn-info" %>
                </div>
                <div class="col-xs-1 col-sm-1 col-lg-1">
                  <%= button_to publish_caption, event_path, method: :patch, class: "btn btn-info", params: {event: {id: @event.id, status: event_status}} %>
                </div>
              </div>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd><%= @event.name %></dd>
                        <dt>Organizer</dt>
                        <dd><%= @event.organizer %></dd>
                        <dt>Start Date</dt>
                        <dd><%= @event.started_at || '-' %></dd>
                        <dt>End Date</dt>
                        <dd><%= @event.ended_at || '-' %></dd>
                        <dt>Status</dt>
                        <dd><%= @event.status || '-' %></dd>
                    </dl>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Enrollment Details
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Departments</dt>
                        <dd><%= @event.departments.pluck(:name).join(", ") %></dd>
                        <dt>Attendance</dt>
                        <dd><a>TBD</a></dd>
                    </dl>
                </div>
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Description
                </div>
                <div class="panel-body">
                  <p class="text-left">
                    <%= raw @event.description %>
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Comments
              </div>
              <div class="panel-body">
                  <h4>Vince</h4>
                  <blockquote>
                      <p>It's cool!</p>
                  </blockquote>
                  <h4>Nancy</h4>
                  <blockquote>
                      <p>It might rain, remember to bring an umbrella!</p>
                      </small>
                  </blockquote>
              </div>
          </div>
      </div>
    </div>
</div>
